<div class="container">
    <h1>Angular Directives</h1>
    <p [appStyle]="'red'" [dStyles]="{border: '1px solid blue', borderRadius: '5px'}">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, sint.
    </p>

    <p [appStyle]="'blue'" [dStyles]="{border: '1px solid red', borderRadius: '15px'}">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, sint.
    </p>

    <button class="btn" (click)="isVisible= !isVisible">Toggle</button>
    <!--     &lt;!&ndash;first:&ndash;&gt;
            <div *ngIf="isVisible" class="wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta dignissimos eum iusto molestiae
                    nostrum perferendis reiciendis repellat soluta tenetur!</p>
            </div>-->

    <!--second:-->
    <!--    <ng-template [ngIf]="isVisible">
            <div  class="wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta dignissimos eum iusto molestiae
                    nostrum perferendis reiciendis repellat soluta tenetur!</p>
            </div>
        </ng-template>-->

    <div class="wrap" *appIfnot="!isVisible" >
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta dignissimos eum iusto molestiae
            nostrum perferendis reiciendis repellat soluta tenetur!</p>
    </div>

    <ng-template [appIfnot]="!isVisible">
        <div class="wrap" *appIfnot="!isVisible" >
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta dignissimos eum iusto molestiae
                nostrum perferendis reiciendis repellat soluta tenetur!</p>
        </div>
    </ng-template>
</div>
